.container{
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 100% 100%;
  height: 512px;
  transition: 1s all ease;
  &.active{
    transform: translateX(-100%);
  }
  
  .slide1{
    box-sizing: border-box;
    width: 100%;
    background: url("./../../../images/bg1.png") no-repeat center;  
    display: flex;
    justify-content: space-around;
    
    .content{
      display: flex;
      height: max-content;
      padding-top: 100px;
      
      .baner{
        width: clamp(9.375rem, 7.404rem + 9.85vw, 13.563rem);
        
        img{
          width: 100%;
        }
      }
      
      .textContent{
        
        .header{
          width: 100%;
          span{
            max-height: 152px;
            font-family: Inter;
            font-size: clamp(2.5rem, 1.324rem + 5.88vw, 5rem);
            font-weight: 700;
            line-height: clamp(2.5rem, 1.441rem + 5.3vw, 4.751rem);
            text-align: center;
          }
        }
        .group2{
          padding-left: 12%;
          padding-top: 20px;
          margin-left: clamp(-6.875rem, -10.11rem + 16.18vw, 0rem);
          .text{
            font-family: Inter;
            font-size: 21px;
            font-weight: 400;
            line-height: 25.41px;
            text-align: left;
            color: rgba(31, 45, 58, 1);
            height: 50px;
          }
          .text:after{
            content: 'No Day is the Same';
            font-family: Inter;
            font-size: 21px;
            font-weight: 700;
            line-height: 25.41px;
            text-align: left;

          }
          .items{
            display: flex;
            justify-content: space-between;
            place-items: center;
            width: 224px;
            height: 24px;
            color: rgba(131, 131, 131, 1);
            font-family: Inter;
            font-size: 20px;
            font-weight: 300;
            line-height: 24.2px;
            text-align: left;

            div{
              height: 5px;
              width: 5px;
              background: linear-gradient(223.08deg, #FFC953 6.11%, #C8972C 97.63%);
              border-radius: 50%;
            }
          }
          button{
            height: 46px;
            width: 214px;
            background: none;
            border: 0.77px solid  rgba(200, 151, 44, 1);
            /* border: 5px solid;
             border-image: linear-gradient(223.08deg, #FFC953 6.11%, #C8972C 97.63%) 1;*/
            border-radius: 35px;
            color: rgba(200, 151, 44, 1);
            overflow: hidden;
            margin-top: 27px;
          }
          
        }
      }
    }
  }
  .slide2{
    box-sizing: border-box;
    width: 100%;
    background: url("./../../../images/bg2.png") no-repeat 25% 50%;
    position: relative;
    display: flex;
    place-items: center;
    justify-content: center;
    .contContainer{
      width: 100%;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (width<= 450px) {
        place-items: center;
        text-align: center;
        max-width: 90%;
      }
      
      .mainText{
        width: fit-content;
        font-family: Inter;
        font-size: clamp(2.688rem, -0.286rem + 10.57vw, 5rem);
        font-weight: 700;
        line-height: clamp(2.5rem, 1.441rem + 5.3vw, 4.751rem);
        text-align: left;
        color: rgba(255, 255, 255, 1);
        width: 100%;
        @media (width<= 450px) {
          text-align: center;
        }
      }
      .socndaryText{
        width: fit-content;
        font-family: Inter;
        font-size: clamp(1.375rem, 0.893rem + 1.71vw, 1.75rem);
        font-weight: 400;
        line-height: 26.61px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
      button{
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 35px;
        width: 180px;
        height: 46px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        background: rgba(58, 160, 182, 0.5);

      ;
      }
    }
   
  }
}